examples/config/
powerflex/*.env
vendor/*
gosec*
.terraform*
tfplan*
terraform.tfvars
powerflex/provider/*.env
powerflex/env.sh
powerflex/trace.txt
examples/trace.txt
cover*
test*
bin/*
.vscode
terraform.tfstate*
Minimal.csv