---
# Copyright (c) 2023-2024 Dell Inc., or its subsidiaries. All Rights Reserved.
# 
# Licensed under the Mozilla Public License Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://mozilla.org/MPL/2.0/
# 
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

title: "{{.Name }} {{.Type | lower}}"
linkTitle: "{{.Name }}"
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name }} ({{.Type}})

{{ .Description | trimspace }}

> **Note:** Gateway server should have been installed. This is a pre-requisite for using this cluster resource. Required packages should be uploaded to the gateway. Package resource can be used for uploading packages to the gateway. 

> **Note:** Support is provided for creating, importing, and deleting operations for this resource.

> **Note:** If you use a Gateway to install on multiple servers and one server installs successfully while another faces issues, the successful installation won't be automatically rolled back.

> **Note:** If you've separately installed any SDR, SDS, or SDC and connected it to the cluster and if you face any security certificate issues during the destroy process, you'll have to manually accept the security certificate to resolve them.

> **Note:** During the destroy process, the entire cluster will be destroyed, not just specific individual resources.

> **Note:** `ips` attribute is used in minimal csv configuration whereas `mdm_ips` attribute is used in complete csv configuration.

> **Note:** To follow the installation process, you can refer to the [Deployment Guide](https://www.dell.com/support/manuals/en-us/scaleio/pfx_deploy_guide_3.6.x/deploy-powerflex?guid=guid-e9f70972-baac-42c9-9ff9-a3d2b0722f54&lang=en-us)

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

After the execution of above resource block, Cluster would have been created on the PowerFlex array. For more information, please check the terraform state file.

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}

1. This will import the cluster instance using specified details into your Terraform state.
2. After successful import, you can run terraform state list to ensure the resource has been imported successfully.
3. Now, you can fill in the resource block with the appropriate arguments and settings that match the imported resource's real-world configuration.
4. Execute terraform plan to see if your configuration and the imported resource are in sync. Make adjustments if needed.
5. Finally, execute terraform apply to bring the resource fully under Terraform's management.
6. Now, the resource which was not part of terraform became part of Terraform managed infrastructure.
{{- end }}