title: "{{.Name }} {{.Type | lower}}"
linkTitle: "{{.Name }}"
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name }} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

After the execution of above resource block, The selected Action will be preformed on the selected RCG.
Each time the RCG Actions resource is run it will preform the action again. 
For more information, please check the terraform state file.

{{ .SchemaMarkdown | trimspace }}
