---
title: "{{.Name }} {{.Type | lower}}"
linkTitle: "{{.Name}}"
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Replication and Consistency"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name }} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

After the successful execution of above said block, we can see the output by executing `terraform output` command. Also, we can fetch information via the variable: `data.powerflex_replication_pair.datasource_block_name.attribute_name` where datasource_block_name is the name of the data source block and attribute_name is the attribute which user wants to fetch.

{{ .SchemaMarkdown | trimspace }}


