# 0 for UT 1 for AT
TF_ACC=0
SDC_ID=
SDC_NAME=powerflex_sdc_
POWERFLEX_ENDPOINT=
POWERFLEX_VERSION=
POWERFLEX_USERNAME=
POWERFLEX_PASSWORD=
POWERFLEX_INSECURE=
POWERFLEX_SDS_IP_1 = 
POWERFLEX_SDS_IP_2 =
POWERFLEX_SDS_IP_3 = 
POWERFLEX_SDS_IP_4 =
POWERFLEX_SDS_IP_5 = 
POWERFLEX_SDS_IP_6 = 
POWERFLEX_SDS_IP_7 = 
POWERFLEX_SDS_IP_8 = 
POWERFLEX_SDS_IP_9 = 
POWERFLEX_SDS_IP_10 = 
POWERFLEX_SDS_IP_11 =
POWERFLEX_SDC_NAME = 
POWERFLEX_SDC_NAME_2 = 
POWERFLEX_SDC_NAME_3 =
POWERFLEX_SDC_IP =  
POWERFLEX_SDC_IP1= 
POWERFLEX_SDC_VOLUMES_MAPPING_NAME= 
POWERFLEX_SDC_VOLUMES_MAPPING_NAME2= 
POWERFLEX_SDC_VOLUMES_MAPPING_ID2=
POWERFLEX_PROTECTION_DOMAIN_ID=
POWERFLEX_PROTECTION_DOMAIN_ID_SDS= 
POWERFLEX_STORAGE_POOL_NAME=
POWERFLEX_SERVICE_ID=
POWERFLEX_SERVICE_NAME=
